
.navbar {
    display: flex !important;
    list-style-type: none !important;
    padding: 0;
    margin-right: 150px;
    margin-bottom:50px;
    margin-top:50px;
  }
  
  .navbar li {
    margin: 0 10px !important;
  }
  .navbar li a {
    color: #495E57;
    text-decoration: none;
  }
  