.specials {
    background-color: white;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
}

.title-container h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #495E57;
    margin: 0;
}

.title-container button {
    font-size: 1em;
    color: #495E57;
    background-color: #F4CE14;
    border: none;
    border-radius: 20px; /* Makes button rounded */
    padding: 8px 16px;
    cursor: pointer;
    margin: 0;
}
.title-container button:hover {
    background-color: white;
    color:#495E57;
    border-width:2px;
    border-color: #495E57;
    border-style: solid;
  }

.specials-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.specials-box > div {
    background-color: #EDEFEE;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.specials-box img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.specials-box h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.specials-box > div > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.specials-box p {
    color: #666;
    text-align: left;
    padding: 0 10px;
}

.specials-box button {
    font-size: 1rem;
    color: #333;
    background: none;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
