.specials {
    background-color: white;
    padding: 20px;
    max-width: 1200px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px; /* Exactly 50px from left */
    padding-right: 70px; /* Exactly 50px from right */
    width: 100%;
}

.title-container h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #495E57;
    margin: 0;
}

.title-container button {
    font-size: 1em;
    color: #495E57;
    background-color: #F4CE14;
    border: none;
    border-radius: 20px; /* Rounded button */
    padding: 8px 16px;
    cursor: pointer;
    margin: 0;
}

.title-container button:hover {
    background-color: white;
    color: #495E57;
    border: 2px solid #495E57;
}

.specials-box {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;    
    width: 100%;
    box-sizing: border-box;
    margin-top:50px;
    margin-bottom:50px;
}

.specials-box > div {
    background-color: #EDEFEE;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.specials-box img {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.specials-box h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 20px 0;
}

.specials-box > div > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.specials-box p {
    color: #666;
    text-align: left; /* Left-aligns text */
    width: 100%;
    padding: 0 ;
    margin:0;
}

.specials-box button {
    font-size: 1rem;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left; /* Aligns button text to the left */
    padding: 0;
    margin:0;
    padding-top: 20px;
}
